
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/cover.css" rel="stylesheet">

    </head>

    <body>
    <script src="../javascripts/speech.js"></script>
    <script src="../javascripts/audioRecorder.js"></script>
    <script src="../javascripts/callbackManager.js"></script>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <p class="cover-heading" style="font-size:50px; color:black">SpeechRecognition</p>
            <div class="recordtextfield">
 		<select id="grammars" style="display:none"></select>
                <input type="text" id="output" style="width:500px;height:100px;color: black;font-size: 20px;">
	    </div>
		<div>
		    <img id="microphone"  src="../images/microphone.gif" style="display:none;text-align:middle;margin-left:28%; width:300px; height:300px">
		</div>
		</br>
		</br>
            	<!--<p class="lead">-->
		<div style="position: absolute;">
		    <input type="button" id="startBtn" value="开始计时！" style="display:block;position: absolute;top: 5px;left: 230px;"  class="btn btn-lg btn-primary" onClick="timedCount()"> 
		    <input type="text" id="txt" value=60 style="color:black;position: absolute;top: 5px;left: 385px;width: 50px;height: 44px;text-align: center;font-size: 23px;"> 
		    <input type="button" id="stopBtn" value="停止计时！" style="display:none;position: absolute;top: 5px;left: 230px;"  class="btn btn-lg btn-primary" onClick="stopCount()"> 
		</div>
            	<!--</p>-->		
            </div>
            <div class="mastfoot">
                <div class="inner">
                <p style="color:black">SpeechRecognition by Matchbox</p>
            </div>
          </div>

        </div>

      </div>

    </div>

   <script src="/home/nb/nbProject/voice/views/speech.js"></script>	
    <script type="text/javascript"> 

	
	var c=60 
	var t 
	function timedCount() 
	{ 
	    document.getElementById("microphone").style.display="block"
	    document.getElementById("startBtn").style.display="none"
	    document.getElementById("stopBtn").style.display="block"
	    start() ;
	    while(c==-1)
	    {
	        stopCount()
	        return
	    }
	    document.getElementById('txt').value=c
            document.getElementById('output').value="Recording..."
	    c=c-1 
	    t=setTimeout("timedCount()",1000) 
	    //triggle speech resolution.
 	startBtn.onclick = startRecording;
      
	} 
	function stopCount() 
	{ 
	    clearTimeout(t)
	    stop();
	    document.getElementById("stopBtn").style.display="none"
	    document.getElementById("startBtn").style.display="block" 
	    document.getElementById("microphone").style.display="none"
	    document.getElementById("startBtn").disabled=true 
            document.getElementById('output').value="Parsing..." 
	//triggle textArea changing from "recording" to "resolving",and call speech resolution
 
      	stopBtn.onclick = stopRecording;
	} 
  </script> 
  </body>
</html>

